*.egg-info/
*.egg-info
*wtd*
*phase6*
geogenie_test/
.DS_Store
__pycache__/
config_testing.yaml
build/
.venv/
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.db
*_sample_data.txt
*.pkl
*.pt
sim_*.png
af_*.png
df_orig.csv
demography.yaml
simulated_unlinked*
settings.json
*.h5
population_counts.png
geogenie_test*
shapefile
shapefile.shp
KNN_*.pdf
geneticKNN_test*
geoKNN_test*
test.vcf*
outlier_sampids.txt
test_coords.txt
test_coords_*.txt
.Rhistory
test_eigen.csv
scratch_paper.py
data/test_*
real_test*