*.egg-info/
*.egg-info
*wtd*
*phase6*
geogenie_test/
.DS_Store
__pycache__/
config_testing.yaml
build/
.venv/
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.db
*_sample_data.txt
*.pkl
*.pt
sim_*.png
af_*.png
df_orig.csv
demography.yaml
simulated_unlinked*
settings.json
*.h5
population_counts.png
geogenie_test*