# Python and Virtual Environment Files
*.egg-info/
*.egg-info
__pycache__/
*.pkl
*.pt
*.tmp
*.h5
*.hdf5
*.ai
*.Rhistory
.DS_Store
.venv/
.vscode/

# Data Files
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.db
data/

# Configuration Files
config_testing.yaml
config_template.yaml
config_wtd.yaml
config_wtd_benchmarking.yaml
settings.json
launch.json

# Output and Results
analyses/

# Scripts and Logs
locator.py
scripts/summary_scripts/*
scripts/run_all_combos2_1.sh
scripts/run_all_combos2.sh
